<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <div class="row mb-1">
        <div class="col-12">
            <h2>
								<f:translate key="tx_academicpersonsedit.fe.legend.image" extensionName="academic_persons_edit" />
						</h2>
        </div>
        <div class="col-md-4">
            <f:if condition="{profile.image}">
                <f:then>
                    <f:image
                        image="{profile.image}"
                        maxHeight="300"
                        class="img-thumbnail"
                    />
                    <f:link.action
                        action="removeImage"
                        arguments="{profile: profile}"
                        class="btn btn-danger"
                    >
												<f:translate key="tx_academicpersonsedit.fe.profile.btn.removeImage" extensionName="academic_persons_edit" />
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:form.validationResults for="profile.image">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for
                                    each="{validationResults.flattenedErrors}"
                                    as="errors"
                                    key="propertyPath"
                                >
                                    <f:for
                                        each="{errors}"
                                        as="error"
                                    >
                                        <li>{error}</li>
                                    </f:for>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                    <label
                        for="profile-image"
                        class="visually-hidden"
                    >
												<f:translate key="tx_academicpersonsedit.fe.label.update_image" extensionName="academic_persons_edit" />
                    </label>
                    <f:form.upload
                        property="image"
                        class="form-control"
                        id="profile-image"
                    />
                    <f:if condition="{maxFileUploadsInBytes}">
                        <small>
                            Max file upload size: <f:format.bytes value="{maxFileUploadsInBytes}" />
                        </small>
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </div>
</html>
