<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-website" class="form-label">Website</label>
        <f:form.textfield
                property="website"
                id="profile-website"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-teaching-area" class="form-label">Teaching area</label>
        <f:form.textarea
                property="teachingArea"
                id="profile-teaching-area"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-core-competences" class="form-label">Core competences</label>
        <f:form.textarea
                property="coreCompetences"
                id="profile-core-competences"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-memberships" class="form-label">Memberships</label>
        <f:form.textarea
                property="memberships"
                id="profile-memberships"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-supervised-thesis" class="form-label">Supervised thesis</label>
        <f:form.textarea
                property="supervisedThesis"
                id="profile-supervised-thesis"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-supervised-doctoral-thesis" class="form-label">Supervised doctoral thesis</label>
        <f:form.textarea
                property="supervisedDoctoralThesis"
                id="profile-supervised-doctoral-thesis"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-vita" class="form-label">Vita</label>
        <f:form.textarea
                property="vita"
                id="profile-vita"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-publications" class="form-label">Publications</label>
        <f:form.textarea
                property="publications"
                id="profile-publications"
                class="form-control"
        />
        <label for="profile-publications-link" class="form-label">Link to external publications</label>
        <f:form.textfield
                property="publicationsLink"
                id="profile-publications-link"
                class="form-control"
        />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label for="profile-miscellaneous" class="form-label">Miscellaneous information</label>
        <f:form.textarea
                property="miscellaneous"
                id="profile-miscellaneous"
                class="form-control"
        />
    </div>
</div>

</html>
