<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'position',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Select"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'organisationalUnit',
                options: organisationalUnits,
                optionValueField: 'uid',
                optionLabelField: 'unitName',
                prependOptionValue: '',
                prependOptionLabel: '---',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Select"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'functionType',
                options: functionTypes,
                optionValueField: 'uid',
                optionLabelField: 'functionName',
                prependOptionValue: '',
                prependOptionLabel: '---',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/DateTime"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'validFrom',
                value: '{contract.validFrom}',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/DateTime"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'validTo',
                value: '{contract.validTo}',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'location',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'room',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'officeHours',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Checkbox"
        arguments="{
            element: {
                form: 'contract',
                identifier: 'publish',
                validations: validations
            }
        }"
    />
</html>
