<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'emailAddress',
                identifier: 'email',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Select"
        arguments="{
            element: {
                form: 'emailAddress',
                identifier: 'type',
                options: availableTypes,
                optionValueField: 'value',
                optionLabelField: 'label',
                prependOptionValue: '',
                prependOptionLabel: '---',
                validations: validations
            }
        }"
    />
</html>
