<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'gender',
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'title',
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'firstName',
                required: 1
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'middleName'
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'lastName',
                required: 1
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'website'
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'website'
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'websiteTitle'
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'publicationsLink'
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'publicationsLinkTitle'
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'teachingArea'
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'coreCompetences'
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'supervisedThesis'
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'supervisedDoctoralThesis'
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'miscellaneous'
            }
        }"
    />    
</html>
