<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profileInformation',
                identifier: 'year',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profileInformation',
                identifier: 'yearStart',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profileInformation',
                identifier: 'yearEnd',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profileInformation',
                identifier: 'title',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profileInformation',
                identifier: 'link',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textarea"
        arguments="{
            element: {
                form: 'profileInformation',
                identifier: 'bodytext',
                validations: validations
            }
        }"
    />
</html>
