<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:render
        partial="Forms/Select"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'gender',
                options: genderOptions,
                optionValueField: 'value',
                optionLabelField: 'label',
                prependOptionValue: '',
                prependOptionLabel: '---',
                validations: validations,
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'title',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'firstName',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'middleName',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'lastName',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'website',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'websiteTitle',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'publicationsLink',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Textfield"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'publicationsLinkTitle',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'teachingArea',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'coreCompetences',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'supervisedThesis',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'supervisedDoctoralThesis',
                validations: validations
            }
        }"
    />
    <f:render
        partial="Forms/Wysiwyg"
        arguments="{
            element: {
                form: 'profile',
                identifier: 'miscellaneous',
                validations: validations
            }
        }"
    />
</html>
