<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:link.action
        controller="Contract"
        action="new"
        arguments="{profile: profile}"
        class="btn btn-primary"
    >
        Add
    </f:link.action>
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>Position</th>
                <th>Start</th>
                <th>End</th>
                <th>Organisational Unit</th>
                <th>Function</th>
                <th>Action</th>
            </tr>
        </thead>
        <f:if condition="{profile.contracts}">
            <tbody class="table-group-divider">
                <f:for
                    each="{profile.contracts}"
                    as="contract"
                    iteration="contractIteration"
                >
                    <tr>
                        <td>{contract.uid}.{contract.sorting} / {contract.position}</td>
                        <td>{contract.validFrom -> f:format.date(format: 'd.m.Y')}</td>
                        <td>{contract.validTo -> f:format.date(format: 'd.m.Y')}</td>
                        <td>{contract.organisationalUnit.unitName}</td>
                        <td>{contract.functionType.functionName}</td>
                        <td>
                            <f:link.action
                                controller="Contract"
                                action="show"
                                arguments="{contract: contract}"
                                class="btn btn-primary"
                            >
                                Show
                            </f:link.action>
                            <f:link.action
                                controller="Contract"
                                action="edit"
                                arguments="{contract: contract}"
                                class="btn btn-primary"
                            >
                                Edit
                            </f:link.action>
                            <f:if condition="{contractIteration.cycle} > 1">
                                <f:then>
                                    <f:link.action
                                        controller="Contract"
                                        action="sort"
                                        arguments="{contract: contract, sortDirection: 'up'}"
                                        class="btn btn-primary"
                                    >
                                        Sort up
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort up</span>
                                </f:else>
                            </f:if>
                            <f:if condition="{contractIteration.cycle} < {contracts->f:count()}">
                                <f:then>
                                    <f:link.action
                                        controller="Contract"
                                        action="sort"
                                        arguments="{contract: contract, sortDirection: 'down'}"
                                        class="btn btn-primary"
                                    >
                                        Sort down
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort down</span>
                                </f:else>
                            </f:if>
                            <f:link.action
                                controller="Contract"
                                action="confirmDelete"
                                arguments="{contract: contract}"
                                class="btn btn-primary"
                            >
                                Delete
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </f:if>
        <tfoot class="table-group-divider">
            <tr>
                <td class="text-center" colspan="99">
                    {profile.contracts -> f:count()} contract(s) found
                </td>
            </tr>
        </tfoot>
    </table>
</html>