<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:link.action
        controller="PhoneNumber"
        action="new"
        arguments="{contract: contract}"
        class="btn btn-primary"
    >
        Add
    </f:link.action>
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>Email Address</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <f:if condition="{contract.emailAddresses}">
            <tbody class="table-group-divider">
                <f:for
                    each="{contract.emailAddresses}"
                    as="emailAddress"
                    iteration="emailAddressIteration"
                >
                    <tr>
                        <td>{emailAddress.email}</td>
                        <td>{emailAddress.type}</td>
                        <td>
                            <f:link.action
                                controller="EmailAddress"
                                action="show"
                                arguments="{emailAddress: emailAddress}"
                                class="btn btn-primary"
                            >
                                Show
                            </f:link.action>
                            <f:link.action
                                controller="EmailAddress"
                                action="edit"
                                arguments="{emailAddress: emailAddress}"
                                class="btn btn-primary"
                            >
                                Edit
                            </f:link.action>
                            <f:if condition="{emailAddressIteration.cycle} > 1">
                                <f:then>
                                    <f:link.action
                                        controller="EmailAddress"
                                        action="sort"
                                        arguments="{emailAddress: emailAddress, sortDirection: 'up'}"
                                        class="btn btn-primary"
                                    >
                                        Sort up
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort up</span>
                                </f:else>
                            </f:if>
                            <f:if condition="{emailAddressIteration.cycle} < {contract.emailAddresses -> f:count()}">
                                <f:then>
                                    <f:link.action
                                        controller="EmailAddress"
                                        action="sort"
                                        arguments="{emailAddress: emailAddress, sortDirection: 'down'}"
                                        class="btn btn-primary"
                                    >
                                        Sort down
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort down</span>
                                </f:else>
                            </f:if>
                            <f:link.action
                                controller="EmailAddress"
                                action="confirmDelete"
                                arguments="{emailAddress: emailAddress}"
                                class="btn btn-primary"
                            >
                                Delete
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </f:if>
        <tfoot class="table-group-divider">
            <tr>
                <td class="text-center" colspan="99">
                    {contract.emailAddresses -> f:count()} email address(es) found.
                </td>
            </tr>
        </tfoot>
    </table>
</html>