<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:link.action
        controller="PhoneNumber"
        action="new"
        arguments="{contract: contract}"
        class="btn btn-primary"
    >
        Add
    </f:link.action>
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <f:if condition="{contract.phoneNumbers}">
            <tbody class="table-group-divider">
                <f:for
                    each="{contract.phoneNumbers}"
                    as="phoneNumber"
                    iteration="phoneNumberIteration"
                >
                    <tr>
                        <td>{phoneNumber.phoneNumber}</td>
                        <td>{phoneNumber.type}</td>
                        <td>
                            <f:link.action
                                controller="PhoneNumber"
                                action="show"
                                arguments="{phoneNumber: phoneNumber}"
                                class="btn btn-primary"
                            >
                                Show
                            </f:link.action>
                            <f:link.action
                                controller="PhoneNumber"
                                action="edit"
                                arguments="{phoneNumber: phoneNumber}"
                                class="btn btn-primary"
                            >
                                Edit
                            </f:link.action>
                            <f:if condition="{phoneNumberIteration.cycle} > 1">
                                <f:then>
                                    <f:link.action
                                        controller="PhoneNumber"
                                        action="sort"
                                        arguments="{phoneNumber: phoneNumber, sortDirection: 'up'}"
                                        class="btn btn-primary"
                                    >
                                        Sort up
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort up</span>
                                </f:else>
                            </f:if>
                            <f:if condition="{phoneNumberIteration.cycle} < {contract.phoneNumbers -> f:count()}">
                                <f:then>
                                    <f:link.action
                                        controller="PhoneNumber"
                                        action="sort"
                                        arguments="{phoneNumber: phoneNumber, sortDirection: 'down'}"
                                        class="btn btn-primary"
                                    >
                                        Sort down
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort down</span>
                                </f:else>
                            </f:if>
                            <f:link.action
                                controller="PhoneNumber"
                                action="sort"
                                arguments="{phoneNumber: phoneNumber, sortDirection: 'down'}"
                                class="btn btn-primary"
                            >
                                Sort down
                            </f:link.action>
                            <f:link.action
                                controller="PhoneNumber"
                                action="confirmDelete"
                                arguments="{phoneNumber: phoneNumber}"
                                class="btn btn-primary"
                            >
                                Delete
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </f:if>
        <tfoot class="table-group-divider">
            <tr>
                <td class="text-center" colspan="99">
                    {contract.phoneNumbers -> f:count()} phone number(s) found.
                </td>
            </tr>
        </tfoot>
    </table>
</html>