<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

    <f:link.action
        controller="PhysicalAddress"
        action="new"
        arguments="{contract: contract}"
        class="btn btn-primary"
    >
        Add
    </f:link.action>
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>Street</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <f:if condition="{contract.physicalAddresses}">
            <tbody class="table-group-divider">
                <f:for
                    each="{contract.physicalAddresses}"
                    as="physicalAddress"
                    iteration="physicalAddressIteration"
                >
                    <tr>
                        <td>{physicalAddress.street} {physicalAddress.streetNumber}</td>
                        <td>{physicalAddress.zip} {physicalAddress.city}</td>
                        <td>{physicalAddress.country}</td>
                        <td>
                            <f:link.action
                                controller="PhysicalAddress"
                                action="show"
                                arguments="{physicalAddress: physicalAddress}"
                                class="btn btn-primary"
                            >
                                Show
                            </f:link.action>
                            <f:link.action
                                controller="PhysicalAddress"
                                action="edit"
                                arguments="{physicalAddress: physicalAddress}"
                                class="btn btn-primary"
                            >
                                Edit
                            </f:link.action>
                            <f:if condition="{physicalAddressIteration.cycle} > 1">
                                <f:then>
                                    <f:link.action
                                        controller="PhysicalAddress"
                                        action="sort"
                                        arguments="{physicalAddress: physicalAddress, sortDirection: 'up'}"
                                        class="btn btn-primary"
                                    >
                                        Sort up
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort up</span>
                                </f:else>
                            </f:if>
                            <f:if condition="{physicalAddressIteration.cycle} < {contract.physicalAddresses -> f:count()}">
                                <f:then>
                                    <f:link.action
                                        controller="PhysicalAddress"
                                        action="sort"
                                        arguments="{physicalAddress: physicalAddress, sortDirection: 'down'}"
                                        class="btn btn-primary"
                                    >
                                        Sort down
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <span class="btn btn-secondary disabled">Sort down</span>
                                </f:else>
                            </f:if>
                            <f:link.action
                                controller="PhysicalAddress"
                                action="confirmDelete"
                                arguments="{physicalAddress: physicalAddress}"
                                class="btn btn-primary"
                            >
                                Delete
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </f:if>
        <tfoot class="table-group-divider">
            <tr>
                <td class="text-center" colspan="99">
                    {contract.physicalAddresses -> f:count()} address(es) found.
                </td>
            </tr>
        </tfoot>
    </table>
</html>
