<f:form.validationResults for="{object}">
    <f:if condition="{validationResults.flattenedErrors}">
        <div class="notifications">
            <f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
                <f:for each="{errors}" as="error">
                    <div class="notification notification--is-danger">
                        <f:translate key="form.{propertyName}.error.{error.code}" default="{propertyName}"></f:translate>
                        <f:if condition="{settings.debug}">{error.code}</f:if>
                    </div>
                </f:for>
            </f:for>
        </div>
    </f:if>
</f:form.validationResults>