<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="ProfileEdit" />

<f:section name="Main">

    <f:render
        partial="Profile/Forms/Errors"
        arguments="{object: EmailAddressFormData}"
    />

    <div class="academic-persons-edit-edit">
        <f:render
            partial="Profile/Header"
            arguments="{
                header: '{profile.title} {profile.firstName} {profile.middleName} {profile.lastName}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'profile-header'
            }"
        />

        <f:render
            partial="Profile/SectionHeader"
            arguments="{
                header: '{contract.position}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'contract-header'
            }"
        />

        <f:render
            partial="Profile/DataHeader"
            arguments="{
                header: '{f:translate(key: \'contract.emailAddress\', extensionName: \'academic_persons_edit\')}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'header'
            }"
        />

        <f:form
            action="update"
            name="emailAddressFormData"
            object="{emailAddressFormData}"
            arguments="{emailAddress: emailAddress}"
        >
            <f:render
                partial="Profile/Properties/EmailAddress"
                arguments="{
                    availableTypes: availableTypes,
                    emailAddress: emailAddressFormData,
                    validations: validations
                }"
            />

            <f:render
                partial="Profile/Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
        </f:form>
    </div>
</f:section>

</html>
