<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Main">
        <h1>Delete profile information</h1>
        <p>
            Do you really want to delete the profile information<br />
            "{profileInformation.year} / {profileInformation.title}"?
        </p>
        <f:render
            partial="Buttons/DeleteCancel"
            arguments="{
                deleteUrl: '{f:uri.action(action: \'delete\', arguments: \'{profileInformation: profileInformation}\')}',
                cancelUrl: cancelUrl
            }"
        />
    </f:section>
</html>
