<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Main">
        <h1>New profile information</h1>
        <f:render
            partial="Forms/Errors"
            arguments="{object:ProfileInformationFormData}"
        />
        <f:form
            action="create"
            name="profileInformationFormData"
            object="{profileInformationFormData}"
            arguments="{profile: profile}"
        >
            <f:render
                partial="Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
            <f:form.textfield property="type" />
            <f:render
                partial="Properties/ProfileInformation"
                arguments="{
                    profileInformationFormData: profileInformationFormData,
                    validations: validations
                }"
            />
            <f:render
                partial="Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
        </f:form>
    </f:section>
</html>
