<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:p="http://typo3.org/ns/FGTCLB/AcademicPersons/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:variable
        name="elementId"
        value="{element.form}.{element.identifier}"
    />
    <f:variable name="validation"><p:validationEnsure validations="{element.validations}" identifier="{element.identifier}" /></f:variable>
    <f:render
        partial="Forms/FieldWrapper"
        arguments="{element: element, elementId: elementId}"
        contentAs="elementContent"
    >
        <f:form.textfield
            property="{element.identifier}"
            value="{element.value -> f:format.date(format:'d.m.Y')}"
            placeholder="TT.MM.JJJJ"
            id="{element.identifier}"
            class="form-control"
            disabled="{validation.disabled ? 'disabled' : ''}"
            required="{validation.required ? 'required' : ''}"
            readonly="{validation.readOnly ? 'readonly' : ''}"
            data="{render:'datepicker'}"
        />
    </f:render>
</html>
