<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:variable
        name="elementId"
        value="{element.form}.{element.identifier}"
    />
    <f:render
        partial="Forms/FieldWrapper"
        arguments="{element: element, elementId: elementId}"
        contentAs="elementContent"
    >
        <f:form.select
            property="{element.identifier}"
            id="{elementId}"
            class="form-select"
            options="{element.options}"
            optionValueField="{element.optionValueField}"
            optionLabelField="{element.optionLabelField}"
            prependOptionValue="{element.prependOptionValue}"
            prependOptionLabel="{element.prependOptionLabel}"
            disabled="{disabled}"
        />
    </f:render>
</html>