<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <f:link.page>Profiles list</f:link.page>
            </li>
            <f:if condition="{profile}">
                <li class="breadcrumb-item">
                    <f:link.action
                        action="editProfile"
                        arguments="{profile: profile}"
                    >
                        {profile.firstName} {profile.lastName}
                    </f:link.action>
                </li>
            </f:if>
            <f:if condition="{contract.profile}">
                <li class="breadcrumb-item">
                    <f:link.action
                        action="editProfile"
                        arguments="{profile: contract.profile}"
                    >
                        {contract.profile.firstName} {contract.profile.lastName}
                    </f:link.action>
                </li>
            </f:if>
            <f:if condition="{contract}">
                <li class="breadcrumb-item">
                    <f:link.action
                        action="editContract"
                        arguments="{contract: contract}"
                    >
                        {contract.position}
                    </f:link.action>
                </li>            
            </f:if>
        </ol>
    </nav>
    <f:render section="Header" optional="true" />
    <f:render section="Content" />
</html>
