<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:p="http://typo3.org/ns/FGTCLB/AcademicPersons/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:variable
    name="elementId"
    value="{element.form}.{element.identifier}"
/>

<f:variable
    name="validation"
    value="{p:validationEnsure(identifier: element.identifier, validations: element.validations)}"
/>

<f:render
    partial="Profile/Forms/FieldWrapper"
    arguments="{
        element: element,
        elementId: elementId,
        validation: validation,
        class: 'form-select-wrap',
    }"
    contentAs="elementContent"
>
    <f:form.select
        property="{element.identifier}"
        id="{elementId}"
        class="form-select"
        options="{element.options}"
        optionValueField="{element.optionValueField}"
        optionLabelField="{element.optionLabelField}"
        prependOptionValue="{element.prependOptionValue}"
        prependOptionLabel="{element.prependOptionLabel}"
        disabled="{validation.disabled ? 'disabled' : ''}"
        required="{validation.required ? 'required' : ''}"
        readonly="{validation.readOnly ? 'readonly' : ''}"
    />
</f:render>

</html>
