<html
    lang="en"
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>

<f:layout name="ProfileEdit"/>

<f:section name="Main">
    <div class="academic-persons-edit-list">
        <f:render
            partial="Profile/Header"
            arguments="{
                header: '{f:translate(key: \'list.profile.assigned\', extensionName: \'AcademicPersonsEdit\')}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'header'
            }"
        />

        <f:if condition="{profiles}">
            <f:then>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="single-column">
                                {f:translate(key: 'list.profile', extensionName: 'AcademicPersonsEdit')}
                            </th>
                            <th class="actions text-end">
                                {f:translate(key: 'list.actions', extensionName: 'AcademicPersonsEdit')}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{profiles}" as="profile">
                            <tr>
                                <td>{profile.title} {profile.firstName} {profile.middleName} {profile.lastName}</td>

                                <td class="text-end">
                                    <div class="actions">
                                        <f:link.action action="show" arguments="{profile: profile}" class="btn btn-outline-primary">
                                            <span class="desktop">
                                                {f:translate(key: 'actions.view', extensionName: 'AcademicPersonsEdit')}
                                            </span>

                                            <core:icon identifier="academic-persons-edit-view" alternativeMarkupIdentifier="inline"/>
                                        </f:link.action>

                                        <f:link.action action="edit" arguments="{profile: profile}" class="btn btn-primary">
                                            <span class="desktop">
                                                {f:translate(key: 'actions.edit', extensionName: 'AcademicPersonsEdit')}
                                            </span>

                                            <core:icon identifier="academic-persons-edit-edit" alternativeMarkupIdentifier="inline"/>
                                        </f:link.action>
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <p>{f:translate(key: 'list.noProfilesFound', extensionName: 'AcademicPersonsEdit')}</p>
            </f:else>
        </f:if>
    </div>
</f:section>


</html>
