<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:layout name="Default" />

<f:section name="Content">
    <f:form action="executeProfileSwitch" class="row g-2">
        <div class="col-12">
            <label for="profile-to-switch" class="visually-hidden">
								<f:translate key="tx_academicpersonsedit.fe.profile.btn.translate" extensionName="academic_persons_edit" />
						</label>
            <f:form.select name="profileUid" options="{profiles}" optionValueField="uid" optionLabelField="lastName" id="profile-to-switch" class="form-select" />
        </div>
        <div class="col-12">
            <f:form.button class="btn btn-primary mb-3">
								<f:translate key="tx_academicpersonsedit.fe.switch.btn.switch" extensionName="academic_persons_edit" />
						</f:form.button>
        </div>
    </f:form>
</f:section>

</html>
