<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:layout name="Default" />

<f:section name="Content">
    <f:if condition="{profile.languageUid} == {currentLanguageUid}">
        <f:then>
            <f:asset.script identifier="ckeditor" src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js" async="1" defer="1" />
            <f:asset.script identifier="frontend-editor" src="EXT:academic_persons_edit/Resources/Public/JavaScript/FrontendEditor.js" async="1" defer="1" />

            <f:flashMessages queueIdentifier="academic_profile" />

            <f:form action="saveProfile" object="{profile}" name="profile" enctype="multipart/form-data" class="mt-5">

                <div class="row mb-5">
                    <div class="col">
                        <f:form.validationResults for="profile">
                            <f:if condition="{validationResults.flattenedErrors}">
                                <ul class="errors">
                                    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                                        <li>{propertyPath}
                                            <ul>
                                                <f:for each="{errors}" as="error">
                                                    <li>{error}</li>
                                                </f:for>
                                            </ul>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </f:form.validationResults>
                    </div>
                </div>

                <f:render partial="ProfileEdit/ProfileImage" arguments="{_all}"/>

                <f:for each="{profile.contracts}" as="contract" iteration="contractIterator">
                    <f:render partial="ProfileEdit/ProfileContract" arguments="{_all}"/>
                </f:for>

                <f:render partial="ProfileEdit/ProfileData" arguments="{_all}"/>

                <div class="row mb-5">
                    <div class="col">
                        <f:form.button class="btn btn-primary mb-3">
														<f:translate key="tx_academicpersonsedit.fe.profile.btn.save" extensionName="academic_persons_edit" />
												</f:form.button>
                    </div>
                </div>

            </f:form>
        </f:then>
        <f:else>
            <p>
								<f:translate key="tx_academicpersonsedit.fe.error.no_translation" extensionName="academic_persons_edit" />
            </p>
            <f:if condition="{translationAllowed}">
                <f:link.action action="translate" arguments="{profileUid: profile.uid, languageUid: currentLanguageUid}" class="btn btn-primary">
										<f:translate key="tx_academicpersonsedit.fe.profile.btn.translate" extensionName="academic_persons_edit" />
                </f:link.action>
            </f:if>
        </f:else>
    </f:if>


</f:section>

</html>
