<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <div
        class="row g-0 align-items-end border-bottom pb-2 fw-semibold text-start d-none {f:if(condition: '{items -> f:count()} > 0', then: 'd-md-flex')}"
        data-pe-document-list-header>
        <f:for each="{rowFields}" as="rowField">
            <f:switch expression="{rowField}">
                <f:case value="from">
                    <div class="col-md-2 pe-md-3 text-break">
                        <f:translate key="profileEditing.documents.from" extensionName="academic_persons_edit" />
                    </div>
                </f:case>
                <f:case value="to">
                    <div class="col-md-2 pe-md-3 text-break">
                        <f:translate key="profileEditing.documents.to" extensionName="academic_persons_edit" />
                    </div>
                </f:case>
                <f:case value="year">
                    <div class="col-md-2 pe-md-3 text-break">
                        <f:translate key="profileEditing.documents.year" extensionName="academic_persons_edit" />
                    </div>
                </f:case>
                <f:case value="title">
                    <div class="col pe-md-3 text-break">
                        <f:translate key="profileEditing.documents.title" extensionName="academic_persons_edit" />
                    </div>
                </f:case>
                <f:case value="position">
                    <div class="col pe-md-3 text-break">
                        <f:translate key="profileEditing.documents.position" extensionName="academic_persons_edit" />
                    </div>
                </f:case>
                <f:case value="description">
                    <div class="col-12 pe-md-3 text-break">
                        <f:translate key="profileInformation.bodytext.label" extensionName="academic_persons_edit" />
                    </div>
                </f:case>
            </f:switch>
        </f:for>
        <div class="col-md-auto flex-shrink-0 ms-md-auto text-start">
            <f:translate key="profileEditing.documents.actionsHeading" extensionName="academic_persons_edit" />
        </div>
    </div>
</html>
