<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <h3>
        {f:translate(
            key:'tx_academicpersonsedit.fe.title.emailAddresses',
            extensionName:'academic_persons_edit'
        )}
    </h3>
    <f:link.action
        action="addEmailAddress"
        arguments="{profile: profile, contract: contract}"
        class="btn btn-primary"
    >
        {f:translate(
            key:'tx_academicpersonsedit.fe.profile.btn.addEmailAddress',
            extensionName:'academic_persons_edit'
        )}
    </f:link.action>
    <f:for
        each="{contract.emailAddresses}"
        as="emailAddress"
        iteration="emailAddressIterator"
    >
        <div class="row mb-3">
            <div class="col-12">
                <label for="email-address-{emailAddressIterator.index}-type" class="form-label">
                    {f:translate(
                        key: "tx_academicpersonsedit.fe.profile.type",
                        extensionName: "academic_persons_edit"
                    )}
                </label>
                <f:form.select
                    property="contracts.{contractIterator.index}.emailAddresses.{emailAddressIterator.index}.type"
                    id="email-address-{emailAddressIterator.index}-type"
                    class="form-select"
                    options="{emailAddressTypes}"
                />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="email-address-{emailAddressIterator.index}-email" class="form-label">
                    {f:translate(
                        key: "tx_academicpersonsedit.fe.profile.emailAddress",
                        extensionName: "academic_persons_edit"
                    )}
                </label>
                <f:form.textfield
                    type="email"
                    property="contracts.{contractIterator.index}.emailAddresses.{emailAddressIterator.index}.email"
                    id="email-address-{emailAddressIterator.index}-email"
                    class="form-control"
                />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <f:link.action action="removeEmailAddress" arguments="{profile: profile, contract: contract, emailAddress: emailAddress}" class="btn btn-danger">
                    {f:translate(
                        key: "tx_academicpersonsedit.fe.profile.btn.removeEmailAddress",
                        extensionName: "academic_persons_edit"
                    )}
                </f:link.action>
            </div>
        </div>
        <f:if condition="!{emailAddressIterator.isLast}">
            <hr />
        </f:if>
    </f:for>
</html>
