<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Main">
        <h1>Delete physical address</h1>
        <p>
            Do you really want to delete the physical address<br />
            "{physicalAddress.street} {physicalAddress.streetNumber}, {physicalAddress.zip} {physicalAddress.city}"?
        </p>
        <f:render
            partial="Buttons/DeleteCancel"
            arguments="{
                deleteUrl: '{f:uri.action(action: \'delete\', arguments: \'{physicalAddress: physicalAddress}\')}',
                cancelUrl: cancelUrl
            }"
        />
    </f:section>
</html>
