<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Main">
        <h1>Edit address</h1>
        <f:render
            partial="Forms/Errors"
            arguments="{object:AddressFormData}"
        />
        <f:form
            action="update"
            name="addressFormData"
            object="{addressFormData}"
            arguments="{physicalAddress: physicalAddress}"
        >
            <f:render
                partial="Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
            <f:render
                partial="Properties/PhysicalAddress"
                arguments="{
                    availableTypes: availableTypes,
                    physicalAddress: addressFormData,
                    validations: validations
                }"
            />
            <f:render
                partial="Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
        </f:form>
    </f:section>
</html>
