<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Main">
        <h1>Delete contract</h1>
        <p>
            Do you really want to delete the contract<br />
            "{contract.position} / {contract.validFrom -> f:format.date(format: 'd.m.Y')} / {contract.validTo -> f:format.date(format: 'd.m.Y')} / {contract.organisationalUnit.unitName} / {contract.functionType.functionName} "?
        </p>
        <f:render
            partial="Buttons/DeleteCancel"
            arguments="{
                deleteUrl: '{f:uri.action(action: \'delete\', arguments: \'{contract: contract}\')}',
                cancelUrl: cancelUrl
            }"
        />
    </f:section>
</html>
