<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="ProfileEdit" />

<f:section name="Main">

    <f:render
        partial="Profile/Forms/Errors"
        arguments="{object: ContractFormData}"
    />

    <div class="academic-persons-edit-edit">
        <f:render
            partial="Profile/Header"
            arguments="{
                header: '{profile.title} {profile.firstName} {profile.middleName} {profile.lastName}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'profile-header'
            }"
        />

        <f:render
            partial="Profile/SectionHeader"
            arguments="{
                header: '{contract.position}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'contract-header'
            }"
        />

        <f:form
            action="update"
            name="contractFormData"
            object="{contractFormData}"
            arguments="{contract: contract}"
        >
            <div class="mobile">
                <f:render
                    partial="Profile/Buttons/SaveExitCancel"
                    arguments="{cancelUrl: cancelUrl}"
                />
            </div>

            <f:render
                partial="Profile/Properties/Contract"
                arguments="{
                    contract: contractFormData,
                    functionTypes: functionTypes,
                    organisationalUnits: organisationalUnits,
                    locations: locations,
                    validations: validations
                }"
            />

            <f:render
                partial="Profile/Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
        </f:form>
    </div>

</f:section>

</html>
