<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="ProfileEdit" />

<f:section name="Main">
    <div class="academic-persons-edit-contract">
        <f:render
            partial="Profile/Header"
            arguments="{
                header: '{profile.title} {profile.firstName} {profile.middleName} {profile.lastName}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'profile-header'
            }"
        />

        <f:render
            partial="Profile/SectionHeader"
            arguments="{
                header: '{contract.position}',
                layout: '{data.header_layout}',
                subheader: '{data.subheader}',
                detail: 'true',
                positionClass: 'contract-header'
            }"
        />

        <div class="row">
            <div class="col-12 contract-information">
                <f:render
                    partial="Profile/DataHeader"
                    arguments="{
                        header: '{f:translate(key: \'contract.data\', extensionName: \'academic_persons_edit\')}',
                        layout: '{data.header_layout}',
                        subheader: '{data.subheader}',
                        detail: 'true',
                        positionClass: 'header'
                    }"
                />

                <table class="table table-striped">
                    <f:for
                        each="{
                            0: 'position',
                            1: 'organisationalUnit',
                            2: 'functionType',
                            3: 'validFrom',
                            4: 'validTo',
                            5: 'location',
                            6: 'room',
                            7: 'officeHours',
                            8: 'published'
                        }"
                        as="field"
                    >
                        <tr>
                            <th>{f:translate(key: 'contract.{field}.label', extensionName: 'academic_persons_edit')}:</th>
                            <f:switch expression="{field}">
                                <f:case value="organisationalUnit">
                                    <td>{contract.{field}.unitName}</td>
                                </f:case>
                                <f:case value="functionType">
                                    <td>{contract.{field}.functionName}</td>
                                </f:case>
                                <f:case value="location">
                                    <td>{contract.{field}.title}</td>
                                </f:case>
                                <f:case value="validFrom">
                                    <td>{contract.{field} -> f:format.date(format: 'd.m.Y')}</td>
                                </f:case>
                                <f:case value="validTo">
                                    <td>{contract.{field} -> f:format.date(format: 'd.m.Y')}</td>
                                </f:case>
                                <f:defaultCase>
                                    <td>{contract.{field}}</td>
                                </f:defaultCase>
                            </f:switch>
                        </tr>
                    </f:for>
                </table>

                <div class="btn-wrapper right text-end">
                    <f:link.action action="edit" arguments="{contract: contract}" class="btn btn-primary">
                        {f:translate(key: 'actions.edit', extensionName: 'academic_persons_edit')}

                        <core:icon identifier="academic-persons-edit-edit" alternativeMarkupIdentifier="inline"/>
                    </f:link.action>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 contract-items">
                <div class="section-head">
                    <f:render
                        partial="Profile/DataHeader"
                        arguments="{
                            header: '{f:translate(
                                key: \'contract.physicalAddresses\',
                                extensionName: \'academic_persons_edit\'
                            )}',
                            layout: '{data.header_layout}',
                            subheader: '{data.subheader}',
                            detail: 'true',
                            positionClass: 'header'
                        }"
                    />

                    <div class="btn-wrapper right text-end">
                        <f:link.action
                            controller="PhysicalAddress"
                            action="new"
                            arguments="{contract: contract}"
                            class="btn"
                        >
                            {f:translate(key: 'actions.add', extensionName: 'academic_persons_edit')}

                            <core:icon identifier="academic-persons-edit-add-item" alternativeMarkupIdentifier="inline" />
                        </f:link.action>
                    </div>
                </div>

                <f:render
                    partial="Profile/List/PhysicalAddresses"
                    arguments="{contract: contract}"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-12 contract-items">
                <div class="section-head">
                    <f:render
                        partial="Profile/DataHeader"
                        arguments="{
                            header: '{f:translate(
                                key: \'contract.emailAddresses\',
                                extensionName: \'academic_persons_edit\'
                            )}',
                            layout: '{data.header_layout}',
                            subheader: '{data.subheader}',
                            detail: 'true',
                            positionClass: 'header'
                        }"
                    />

                    <div class="btn-wrapper right text-end">
                        <f:link.action
                            controller="EmailAddress"
                            action="new"
                            arguments="{contract: contract}"
                            class="btn"
                        >
                            {f:translate(key: 'actions.add', extensionName: 'academic_persons_edit')}

                            <core:icon identifier="academic-persons-edit-add-item" alternativeMarkupIdentifier="inline" />
                        </f:link.action>
                    </div>
                </div>

                <f:render
                    partial="Profile/List/EmailAddresses"
                    arguments="{contract: contract}"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-12 contract-items">
                <div class="section-head">
                    <f:render
                        partial="Profile/DataHeader"
                        arguments="{
                            header: '{f:translate(
                                key: \'contract.phoneNumbers\',
                                extensionName: \'academic_persons_edit\'
                            )}',
                            layout: '{data.header_layout}',
                            subheader: '{data.subheader}',
                            detail: 'true',
                            positionClass: 'header'
                        }"
                    />

                    <div class="btn-wrapper right text-end">
                        <f:link.action
                            controller="PhoneNumber"
                            action="new"
                            arguments="{contract: contract}"
                            class="btn"
                        >
                            {f:translate(key: 'actions.add', extensionName: 'academic_persons_edit')}

                            <core:icon identifier="academic-persons-edit-add-item" alternativeMarkupIdentifier="inline" />
                        </f:link.action>
                    </div>
                </div>

                <f:render
                    partial="Profile/List/PhoneNumbers"
                    arguments="{contract: contract}"
                />
            </div>
        </div>
    </div>
</f:section>

</html>
