<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Main">
        <h1>Contract of {profile.firstName} {profile.lastName}</h1>
        <hr />
        <h2>Contract data</h2>
        <f:link.action
            action="edit"
            arguments="{contract: contract}"
            class="btn btn-primary mb-3"
        >
            Edit
        </f:link.action>
        <table class="table table-striped table-hover align-middle">
            <tr>
                <th>Position</th>
                <td>{contract.position}</td>
            </tr>
            <tr>
                <th>Organisational Unit</th>
                <td>{contract.organisationalUnit.unitName}</td>
            </tr>
            <tr>
                <th>Function Type</th>
                <td>{contract.functionType.functionName}</td>
            </tr>
            <tr>
                <th>Valid from</th>
                <td>{contract.validFrom -> f:format.date(format: 'd.m.Y')}</td>
            </tr>
            <tr>
                <th>Valid to</th>
                <td>{contract.validTo -> f:format.date(format: 'd.m.Y')}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{contract.location}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{contract.room}</td>
            </tr>
            <tr>
                <th>Office Hours</th>
                <td>{contract.officeHours}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{contract.published}</td>
            </tr>
        </table>
        <h2>Physical Addresses</h2>
        <f:link.action
            controller="PhysicalAddress"
            action="list"
            arguments="{contract: contract}"
            class="btn btn-primary"
        >
            List
        </f:link.action>
        <f:render
            partial="Lists/PhysicalAddresses"
            arguments="{contract: contract}"
        />
        <h2>Phone Numbers</h2>
        <f:link.action
            controller="PhoneNumber"
            action="list"
            arguments="{contract: contract}"
            class="btn btn-primary"
        >
            List
        </f:link.action>
        <f:render
            partial="Lists/PhoneNumbers"
            arguments="{contract: contract}"
        />
        <h2>Email Addresses</h2>
        <f:link.action
            controller="EmailAddress"
            action="list"
            arguments="{contract: contract}"
            class="btn btn-primary"
        >
            List
        </f:link.action>
        <f:render
            partial="Lists/EmailAddresses"
            arguments="{contract: contract}"
        />
    </f:section>
</html>