<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Main">
        <h1>New phone number</h1>
        <f:render
            partial="Forms/Errors"
            arguments="{object:PhoneNumberFormData}"
        />
        <f:form
            action="create"
            name="phoneNumberFormData"
            object="{phoneNumberFormData}"
            arguments="{contract: contract}"
        >
            <f:render
                partial="Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
            <f:render
                partial="Properties/PhoneNumber"
                arguments="{
                    phoneNumber: phoneNumberFormData,
                    validations: validations
                }"
            />
            <f:render
                partial="Buttons/SaveExitCancel"
                arguments="{cancelUrl: cancelUrl}"
            />
        </f:form>
    </f:section>
</html>
